@import "../../styles/variables";
@import "../../styles/mixins";

.accordion-container{
    margin-top: 25vh;
     min-height: 100vh;
     display: flex;
     align-items: center;
     flex-direction: column;

     .accordion-qst-title{
        margin-bottom: 10vh;
        font-size: $big;
        font-family: $font2;
     }

}

.accordian-section-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    width: 800px;
    background-color: $colorDarkBlue;
    border: 1.5px solid $colorBlue;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;

    .section-title-font{
        font-size: $normal;
    }
    
    
}

.accordian-section{
    cursor: pointer;
    max-width: 800px;
}


.accordian-section-text{

 width: 800px;
 padding: 10px;
 line-height: 1.5;
 font-size: $small;
 color: $colorGray;
 background-color: $colorDarkBlue;
 border: 1.5px solid $colorBlue;
 border-top: none;
 border-bottom-right-radius: 5px;
 border-bottom-left-radius: 5px;

}

@media(max-width:823px){
    .accordian-section-title{
        width: 500px;
    }
    .accordian-section{
        max-width: 500px;
    }
    .accordian-section-text{
        width: 500px;
    }
}

@media(max-width:528px){
    .accordian-section-title{
        width: 300px;
        .section-title-font{
            font-size: $small;
        }
    }
    .accordian-section{
        max-width: 300px;
    }
    .accordian-section-text{
        width: 300px;
    }
    .accordion-container{
         .accordion-qst-title{
            margin-bottom: 10vh;
            font-size: $medium;
            font-family: $font2;
         }
    
    }
}