@import "../../styles/variables";
@import "../../styles/mixins";

.assistance-container{
    min-height: 100vh;
    background-color: $colorWhite;
    color: $colorLightDark;
    font-size: $normal;
    
}

.assistance-content{
    display: flex;
    flex-direction: column;
    align-items: center;


    .assistance-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;



        .small-title{
            background: linear-gradient(to right, $colorBlue, $colorLila);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            display: inline-block;
            position: relative;
            z-index: 2;
            font-weight: 700;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1{
            font-family: $font2;
            font-size: $veryBig;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 20px;

        }

        .rainbow{
            border-left: 3px solid $colorBlue;
            border-right: 3px solid $colorBlue;
            padding: 8px;
            background: rgb(241, 240, 240);
            background: radial-gradient(circle, rgba(241, 240, 240,1) 45%, rgba(102,137,233,1) 63%); 
        }

        .dark-text{
            font-weight: 700;
        }

        .assistance-title-text{
            line-height: 1.5;
            text-align: left;
        }
    }

    .assistance-options{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
        margin-bottom: 25vh;
        
        
        li{
        text-decoration: none;
        list-style: none;
        font-size: $bigMedium;
        color: $colorDarkDarkGray;
        font-family: $font2;
        font-weight: 700;
        line-height: 2;

        &:hover{
            cursor: pointer;
        }
        }
    }
}

.dwave-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .dwave-content{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $colorLightWhite;
        border-radius: 20px;
        height: 500px;
        width: 80%;

        .dwave-img{
            img{
                height: 100%;
                width: 100%;
                margin-left: 20px;
                border-radius: 20px;
            }
        }

        .dwave-text{
            margin-left: 80px;
            margin-right: 20px;
            max-width: 400px;
            h2{
                display: flex;
                align-items: center;
                font-family: $font2;
                font-weight: 700;
                font-size: $medium;
            }
            h1{
                font-family: $font2;
                font-size: $big;
                background: linear-gradient(to right, $colorBlue, $colorRed);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                display: inline-block;
                position: relative;
                z-index: 2;
                font-weight: 700;
                margin-top: 10px;

            }

            .dwave-subtitle{
                margin-top: 10px;
                font-size: $normal;
                font-weight: 700;
            }

            .dwave-paragraph{
                margin-top: 10px;
                font-size: $small;
                line-height: 1.5;
                
            }

            button{
                margin-top: 20px;
                padding: 10px;
                color: $colorWhite;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                background-color: $colorBlue;
                box-shadow: 1px 1px 5px $colorBlue;
            }
        }
    }
}