
//font colors
$colorWhite: #f1f0f0;
$colorDark: #002100;
$colorGray:#cdcaca;
$colorLila:#b01cff;
$colorRed: #ff0066;

//font size
$veryBig:60px;
$big:40px;
$normal:18px;
$small:16px;

//fonts
$font1: "Arial";