@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Exo&family=Open+Sans&family=Yellowtail&display=swap');


//colors
$colorLightWhite:#fff;
$colorWhite: #f1f0f0;
$colorDark: #000000;
$colorLightDark: #0c0c0c;
$colorGray:#cdcaca;
$colorDarkGray:#9a9a9a;
$colorDarkDarkGray:#767373;
$colorLila:#b01cff;
$colorBlue: #0044ff;
$colorDarkBlue: #081847;
$colorRed: #ff0066;


//font size
$veryBig:60px;
$bigger:50px;
$big:40px;
$bigMedium:30px;
$medium:25px;
$normal:18px;
$small:16px;

//fonts
$font1: "Arial";
$font2: "Exo";

